.row
  .col-md-9
    p 
      | &copy; 2013     
      a(href="http://www.stonebrook.org", target="_new") Stonebrook Community Church.  
      | Website available at  
      a(href="http://github.com/rockames/rockwww", target="_new")
        i.icon-github.icon-2x
  .col-md-3
    p
      | Find us on the web: 
      a(href="http://twitter.com/rockisu", target="_new")
        i.icon-twitter.icon-2x
      a(href="https://www.facebook.com/Rockames", target="_new")
        i.icon-facebook.icon-2x

