h3 Upcoming Events:

p
  b Tom Short on Campus </br>
  | Sept 3-5, 10am-4pm

p
  b Tom Short at Zeke's </br>
  | Sept 3-5, 7:30pm

p 
  b Friday Night Rock with Jeromy Darling </br>
  | Sept 13, 7:30pm

p
  b Fall Conference </br>
  | Sept 20-22
