extends layout

block content
  h2 The Rock
  p The Rock is a branch of Stonebrook that focuses on college students and twenty-somethings who want to develop their spiritual life in nontraditional ways. 
  p It is our goal to live authentic Christian lives according to the timeless truths of the New Testament.

  h3 Friday Nights
  p The Rock meets on the second Friday of every month @7:30pm at Zeke's (3329 West Lincoln Way).
  p On Friday nights we gather together to share with each other what God is doing in our lives, build relationships, and learn some about what God has taught us in the Bible. We do this through music, food, coffee, a speaker, random acts of silliness, discussions, and good times together afterwards.
  p So come grow toward God with us!

  h3 Beyond Friday Nights

  p The Rock is much more than a place to hang out on Friday nights. During the week, we live out the Christian life together as house churches and teams.  These house churches alternate weeks with our smaller teams so that you can be connected week in and week out.  
  p Find out more about our house churches and teams by checking out our Rock Small Groups.

  h3 A Revolution with Action
  p We try to not just talk about loving people, but to back the talk up with action; helping with community events, picking up trash near campus, or serving a friend who needs help moving, we want to show love in action.  
  p Let us know how we can serve you.

block sidebar
  include includes/calendar
