extends layout

block content
  h2 Rock Small Groups
  p Wondering how to get more involved? Want to meet other people involved in the Rock who live near you? The Rock's small groups are designed to help you do just that!

  h3 Home Groups
  p Our Home Groups give us a chance to come together as a smaller portion of the church in an authentic, informal and personal setting: a home!
  p During these times we share a meal together, sing together, and discuss the Word together. They are a great time to develop the core relationships of the church as our spiritual family.
  p Each home group is lead by a couple of faithful and established leaders.

  b  West Side Home Group:
  ul
    li Luke Anderson - luke@rockames.com
    li Andrew Bovenmyer - andrewbovey.bovenmyer3@gmail.com
  p Tuesdays at 5:30pm 1205 Scott Ave

  b East Side Home Group:
  ul
    li Brian Peck - bpeck.isu@gmail.com
    li Titus Klinge - tklinge@gmail.com
  p Tuesdays at 6:00pm (The Cabin) 1508 Duff Ave

  h3 Teams

  p During Home Group we typically break down into smaller teams for discussion. Teams are living out the Christian life together in a smaller context doing things like prayer, Bible studies, service projects, or just hanging out and enjoying life together. The teams are generally organized geographically, but you are welcome to check out any of our teams.

  p Email team leaders below to find out where they are meeting at and when!

  b Helser South: 
  ul
    li Chris Roling - christopher.l.roling@gmail.com
    li Moriah Harris - moriahmharris@yahoo.com

  b Helser North:
  ul
    li Andrew Bovenmyer - andrewbovey.bovenmyer3@gmail.com
    li Laura Leistad - laura@rockames.com

  b Linden: 
  ul
    li Paul Hibbing - hibbing@iastate.edu
    li Jenny Lyon - jennylynnlyon@gmail.com

  b Off-Campus / Grad Students: 
  ul
    li Titus Klinge - tklinge@gmail.com
    li Beth Moss - elizabethlboal@gmail.com
