extends layoutmain

block heading
  h1 The Rock

block subheading
  p.lead Christianity in action today

block content
  .row-fluid.section1
    .span5.offset1.asset
      img(src="http://placehold.it/480x300")
    .span5.copy
      p The Rock is a student ministry of Stonebrook community church.
